In [1]:
TICKERS = [
    'AAPL',
    'MSFT',
    'GOOGL',
    'AMZN',
    'NVDA',
    'META',
    'TSLA'
]

In [6]:
import yfinance as yf
df = yf.download(tickers=TICKERS, start='2000-01-01', end=None)

df

/var/folders/89/hqh4vvhn24q2xc8ph93krqz80000gn/T/ipykernel_45562/1107376388.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=TICKERS, start='2000-01-01', end=None)
[*********************100%***********************]  7 of 7 completed

Price            Close                                                  \
Ticker            AAPL        AMZN       GOOGL        META        MSFT
Date
2000-01-03    0.840094    4.468750         NaN         NaN   35.668083
2000-01-04    0.769266    4.096875         NaN         NaN   34.463203
...                ...         ...         ...         ...         ...
2025-10-08  258.059998  225.220001  244.619995  717.840027  524.849976
2025-10-09         NaN  222.130005         NaN  719.349976  521.809998

Price                                     High                          ...  \
Ticker            NVDA        TSLA        AAPL        AMZN       GOOGL  ...
Date                                                                    ...
2000-01-03    0.089420         NaN    0.844316    4.478125         NaN  ...
2000-01-04    0.087033         NaN    0.830244    4.575000         NaN  ...
...                ...         ...         ...         ...         ...  ...
2025-10-08  189.110001  438.690002  258.519989  226.729996  246.009995  ...
2025-10-09  192.749893  427.369995         NaN  225.119995         NaN  ...

Price             Open                               Volume             \
Ticker            MSFT        NVDA        TSLA         AAPL       AMZN
Date
2000-01-03   35.916708    0.090256         NaN  535796800.0  322352000
2000-01-04   34.750078    0.087868         NaN  512377600.0  349748000
...                ...         ...         ...          ...        ...
2025-10-08  523.280029  186.570007  437.570007   36465000.0   46592100
2025-10-09  523.099976  192.279999  431.700012          NaN   12493366

Price
Ticker           GOOGL        META      MSFT       NVDA        TSLA
Date
2000-01-03         NaN         NaN  53228400  300912000         NaN
2000-01-04         NaN         NaN  54119000  300480000         NaN
...                ...         ...       ...        ...         ...
2025-10-08  21274100.0  10758500.0  13344800  129778900  70968500.0
2025-10-09         NaN   3318701.0   3965447   79451643  25206785.0

[6482 rows x 35 columns]

In [7]:
df.to_parquet('../YFINANCE/magnificent7_2000-today.parquet')